// Define variables for your color scheme

// For example:
$red: #D5504D;
$blue: #31A59B;
$lightblue: #B3D2CD;
$yellow: #FFC65A;
$orange: #D47F00;
$green: #2aa366;
$gray: #0E0000;
$light-gray: #535353;
