<div id="new_html">
  <h1 class="edit">Edit listing</h1>
  <%= render "shared/listing_form" %>
  <br><br>
  <div class="container">
    <%= link_to "Show this listing", @listing %> |
    <%= link_to "Back to listings", listings_path %>
  </div>
</div>
