// Specific CSS for your home-page
#home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .logo-white {
    display: flex;
    align-items: center;
    height: 120px;
    width: 120  px;
    flex-shrink: 2;
  }

  .catch-phrase {
    color: white;
    font-family: "Pacifico";
    font-size: 36px;
  }
}

body {
  background-size: cover;
}
