 <div class="col">
    <div class="card bg-primary text-white rounded-3">
      <div class="card-body">
        <div class="booking-date d-inline-block">
          <%= booking.date %>
        </div>
        <div class="booking-status bg-white text-black d-inline-flex align-items-center rounded-pill px-2 me-2">
          <%= booking.status %>
        </div>
        <% if booking.status == "pending" && booking.listing.user == current_user %>
          <div class="d-grid gap-1">
            <%= link_to "Accept", booking_path(booking.id, status: 'Accepted'), data: { turbo_method: :patch }, class: "btn btn-success rounded-pill px-2 me-2 mt-2" %>
            <%= link_to "Decline", booking_path(booking.id, status: 'Declined'), data: { turbo_method: :patch }, class: "btn btn-danger rounded-pill px-2 me-2 mt-2" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
