<div
  id="home"
  data-controller="home"
>
    <%= image_tag "logofinal.png", class: "logo-white" %>

  <div class="container text-center">
    <h1 class="catch-phrase">Find your perfect surf teacher today!</h1>
    <a href="/listings" class="btn-home"><span>GO!</span>
     </a>
  </div>
</div>
