.btn-blue {
  background: $blue;
  border-radius: 100px;
  padding: 7px 24px;
  color: #fff;
  text-decoration: none;
  font-family: "pacifico";
  font-size: 1.2em;
  margin: 0 15px;
}

.btn-blue-go-back {
  margin-top: 3px;
  position: absolute;
  height: 40px;
  width: 110px;
  font-size: 18px;
  background: $blue;
  border-radius: 100px;
  color: #fff;
  text-decoration: none;
  font-family: "pacifico";
  text-align: center;
  padding: 7px 24px;
}

.btn-red {
  background: $red;
  border-radius: 100px;
  padding: 7px 24px;
  color: #fff;
  text-decoration: none;
  font-family: "pacifico";
  font-size: 1.2em;
  margin: 0 15px;
}

.btn-decline {
  background: $red;
  border-radius: 100px;
  padding: 7px 24px;
  color: #fff;
  text-decoration: none;
  font-family: "pacifico";
  font-size: 1.0em;
  margin: 0 15px;
  width: 30%;
}

.btn-green {
  background: $green;
  border-radius: 100px;
  padding: 7px 24px;
  color: #fff;
  text-decoration: none;
  font-family: "pacifico";
  font-size: 1.0em;
  margin: 0 15px;
  width: 30%;
}

.btn-book {
  background: #D47F00;
  border-radius: 100px;
  padding: 7px 24px;
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  margin: 0 15px;
}

#home {
  .btn-home {
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 15%;
    font-size: 30px;
    margin-top: 50px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    border: 7px solid white;
    border-radius: 100px;
  }

}
