#new_html {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 2em;
  padding-bottom: 2em;



  form {
    background-color: #ffffff;
    padding: 5em;
    width: 61%;
    margin: 0 auto;

  }

  // #listing_content.form-control.string.optional {
  //   height: 250px;
  // }

  .inputter {
    width: 250px;
    justify-content: center;
    /*margin-left: auto;*/
  }

  .mb-3.decimal.optional.listing_price {
    width: 250px;
    justify-content: right;
    /*margin-left: auto;*/
  }

  .btn.btn-flat {
    color: white;
    background-color: red;
  }

  #my_form {
    display: flex;
    justify-content: end;
    padding-top: 2em;
  }
}
