#new_html {

  body {
    background-color: powderblue;
  }

  form {
    background-color: white;
    margin: 5em;
    padding: 2em;
    height: 500em;
    flex: 0, 0 auto;
  }

  describe {
    height: 20em;
  }

  other {
    color: blue;
  }

  price {
   color: green;
  }

  button {
    color: orange;
  }




}
