#new_html {

  form {
    background-color: white;
    margin: 5em;
    padding: 2em;
    flex: 0, 0 auto;
  }

  #listing_content.form-control.string.optional {
    height: 250px;
  }

  .inputter {
    color: red;
    width: 250px;
    justify-content: center;
    margin-left: auto;
  }

  .mb-3.decimal.optional.listing_price {
    color: red;
    width: 250px;
    justify-content: right;
    margin-left: auto;
  }

  .btn.btn-flat {
    color: white;
    background-color: red;
  }

  #my_form {
    display: flex;
    justify-content: end;
    padding-top: 2em;
  }
}
