.card-border-rounded {
  border-radius: 10px;
}
.img-listing-ins {
  max-height: 400px;
  object-fit: cover;
}

h1 {
  font-family: "Roboto-light", "Helvetica", "sans-serif";
  color: $green;
  font-size: 22px;
  font-weight: 600;
}

h3 {
  font-family: "Roboto-light", "Helvetica", "sans-serif";
  color: black;
  font-size: 18px;
  font-weight: 600;
}
