.card-show {
  background: white;
  padding: 24px;
  border-radius: 15px;
  border: 3px solid $lightblue;

}
.img-listing-ins {
  max-height: 400px;
  object-fit: cover;
}

.title-edit {
  font-family: "pacifico";
  color: #777575;
  font-size: 26px;
  font-weight: 600;
}

h1 {
  font-family: "pacifico";
  color: #777575;
  font-size: 22px;
  font-weight: 600;
}

h3 {
  font-family: "Roboto-light", "Helvetica", "sans-serif";
  color: black;
  font-size: 18px;
  font-weight: 400;
}

.card-blue {
  background: white;
  padding: 24px;
  border-radius: 15px;
  border: 3px solid $lightblue;
}

.card-blue-edit {
  background: white;
  padding: 16px;
  border-radius: 15px;
  border: 3px solid $lightblue;
  width: inherit;
  margin-left: 12%;
  margin-top: 6%;
}

.btn-primary {
  color: white !important;
  font-family: "Pacifico" !important;
}
