.card-show {
  background: white;
  padding: 24px;
  border-radius: 15px;
  border: 3px solid $lightblue;

}

h1 {
  font-family: "Roboto-light", "Helvetica", "sans-serif";
  color: $green;
  font-size: 22px;
  font-weight: 600;
}

h3 {
  font-family: "Roboto-light", "Helvetica", "sans-serif";
  color: black;
  font-size: 18px;
  font-weight: 600;
}

.card-blue {
  background: white;
  padding: 24px;
  border-radius: 15px;
  border: 3px solid $lightblue;
}
